
<div class="card profile-card-3 intern-card">
    <div class="background-block">
        <i class="fas fa-glasses"></i>
    </div>
    <div class="card-title">
        <h2>{{ name }}<small>{{ role }}</small></h3>
    </div>
    <div class="card-body">
        <p><i class="far fa-id-card"></i>ID: {{ id }}</p>
        <a href="mailto:{{ email }}"></a><i class="fa fa-github"></i>{{ email }}</a>
        <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope-open-text">{{ github }}</i></a>
    </div>
</div>

