<div class="card profile-card intern-card">
    <div class="background-block">
        <i class="fas fa-glasses"></i>
    </div>
    <div class="card-title">
        <h2>{{ name }}<small>{{ role }}</small></h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li><p><i class="far fa-id-card"></i>ID: {{ id }}</p></li>
            <li><a href="mailto:{{ email }}"><i class="fa fa-envelope"></i>{{ email }}</a></li>
            <li><i class="fa fa-github"></i>{{ github }}</a></li>
        </ul>
    </div>
</div>