<div class="card profile-card intern-card">
    <div class="background-block">
        <i class="fas fa-user-graduate"></i>
    </div>
    <div class="card-title">
        <h2>{{ name }}<small>{{ role }}</small></h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
        <li><p><i class="far fa-id-card"></i>ID: {{ id }}</p></li>
        <li><a href="mailto:{{ email }}"></a><i class="fa fa-github"></i>{{ email }}</a></li>
        <li><i class="fas fa-school "></i>{{ school }}</a></li>
        </ul>
    </div>
</div>